body {
  font-family: Arial, sans-serif;
}

#navbar {
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
}

#navbar header {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

#navbar .nav-link {
  display: block;
  color: white;
  padding: 5px 0;
  margin: 5px 0;
}

#navbar .nav-link:hover {
  background: grey;
}

#main-doc {
  margin-left: 260px;
  padding: 10px;
}

.main-section {
  margin-bottom: 20px;
}

.main-section header {
    font-size: 1.3em;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    #navbar {
        position: relative;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    #main-doc {
        margin-left: 0;
        padding: 10px 20px;
    }
}

html {
  scroll-behavior: smooth;
}
